#footer-main{
    background-image: url(../assets/img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 400px;
    position:relative;
      overflow: hidden;
    #logo-bg{
      right: 160px;
      top:-50px;

      img{
        height: 400px;
      }
    }
    #wrapper3 {
        max-width: 400px;
        display: flex;
        align-items: flex-start;
        max-height: 400px;
        flex-flow:column wrap;
        font-size: .7rem;
        padding: 2rem 0;
        h3{

            font-size: 1.3rem;
        }
        ul{
            padding: 0;
            li{
                a{
                    color:darkgrey
                }
            }
        }
    }

}
#footerS{
    background-color: #303030;


    };

    ul{
      padding:0;
      margin: 0;

    }

    h5{
      color: #0c7cec;
    }
    li{
      margin-left:1rem;
    }
    .sign-up-btn{
      padding: 1rem;
      border: 2px solid #0c7cec;
      color: white;
      text-decoration: none;
    }
