@import './partials/variables.scss';

main{
.wrapper{
    background-color: $bg-color-main;
    .jumbotron{
      object-fit: contain;
      img{
        height: 80vh;
        width: 100%;
      }
    }

    .current-series{
      background-color: $brand-color;
      color: white;
      text-transform: uppercase;
      padding: .8rem;
      position: absolute;
      width: 180px;
      top:-20px;
      left: 50px;
    }
  }
  .wrapper2{
    background-color: $brand-color;
    .nav-item{
      margin-right: .8rem;
      img{
        height: 50px;
        margin-right: 10px;
      }
      svg{
        height: 50px;
      }
      a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
      }
    }
}
}
